.hero{
    height: 110vh;
    background: linear-gradient(rgba(155, 154, 154, 0.4), rgba(155, 154, 154, 0.4)),
    url(../images/hero.jpg) no-repeat center center/cover;
    &-wrapper {
        display: flex;
        padding: 0 10rem;
        // border: 1px solid blue;
        height: 100%;
    }
    &-description{
        flex: 0 0 60%;
        // border:1px solid green;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        line-height: 8rem;
        color: white;
        animation: fadein 1s ease-in;
    }
    &-header{
        font-size: 8rem;  
    }
    &-text{
        font-size: 2rem;
        &-grey{
            color: gray;
        }
    }

    &-form{
        // border:1px solid green;
        display: flex;
        align-items: center;
        text-align: center;
        // padding: 
        // background-color: white;
        &-wrapper{
            // border: 1px solid blue;
            background-color: white;
            padding: 2rem 0;
            border-radius: 5px;
        }
    }
    &-input-wrapper{
        width: 75%;
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 2rem;
    }
    &-input{
        padding: 1rem;
        font-family: inherit;
        // border-color: $color-primary;
        &:focus{
            outline-color: $color-primary;
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}