.heading-secondary{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.heading-tertiary{
    font-size: 2rem;
}


.heading-underline{
    width: 4rem;
    height: 1px;
    border: 1px solid $color-primary;
    margin-bottom:  1rem;
    @media(max-width:1000px){
        margin: 1rem auto 3rem;
    }

}

.m-auto{
    margin: 1rem auto 3rem;
}

.mb-small{
    margin-bottom: 1rem;
}

.color-p{
    color: $color-primary;
}

.color-w{
    color: white;
}

.text-center{
    text-align: center;
}